.mailed-action-buttons {
	display: table;
	float: left;
	margin-bottom: 10px;
}

.mailed-action-buttons .button {
	margin-right: 0;
}

.mailed-action-buttons .button + .button {
	margin-left: 8px;
}

/* Mailchimp integration */

.mailchimp_status__subscribed,
.mailchimp_status__unsubscribed,
.mailchimp_status__cleaned,
.mailchimp_status__pending {
	display: table;
	padding: 1px 8px;
	border-radius: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

.mailchimp_status__subscribed {
	background-color: #2ecc71;
}
.mailchimp_status__unsubscribed {
	background-color: #ecf0f1;
	color: #95a5a6;
}
.mailchimp_status__cleaned {
	background-color: #34495e;
}
.mailchimp_status__pending {
	background-color: #f39c12;
}

.mailed--settings .dashicons-yes {
	color: #46b450;
}

.mailed--settings .dashicons-no {
	color: #dc3232;
}

.mailed--settings input + .dashicons-no,
.mailed--settings input + .dashicons-yes {
	margin-top: 5px;
}